<style>
    .header { font-size:12px; background: #2D2D2D; color:#CCCCCC !important; height:18px;padding:6px;}
    .header a{margin-left:5px;color:#CCCCCC !important; text-decoration:none;}

    .header div.left{float:left;height: 20px;}
    .header div.left a{ display: inline-block; vertical-align: middle;}
    .header div.right{float:right;height: 20px;}
    .header div.right ol{display: block;list-style: none outside none;margin: 0;padding: 0;}
    .header div.right ol li{display: inline-block;line-height: 20px;padding: 0px 4px;;position: relative;vertical-align: top;border-left:1px solid #666;}
    span.logo { font-size:24px;  font-weight:bold; margin-bottom:10px;}
    a.logo{ text-decoration:none}
    #Project{display:none}
    div.function a{ text-decoration:none; background:#ddd;padding:2px 10px;}
    
    #logo-container {clear: left;padding: 0;width: 264px;float:left;color:#bbb; text-decoration:none; margin-left:10px; font-size: 0.92em;}
    #search{ padding:12px;}
    #search-input{max-width: 50%;min-width: 384px;vertical-align: middle;-moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;
        -moz-border-right-colors: none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #FFFFFF;border-color: #C0C0C0 #D9D9D9 #D9D9D9;
        border-radius: 1px 1px 1px 1px;border-right: 1px solid #D9D9D9;border-style: solid;border-width: 1px;height: 27px;padding: 0 0 0 8px;
        border: 1px solid #CCCCCC;font-size: 14px;height: 24px;margin: 0 6px 0 0;padding-top: 3px;}
    .search_input1 {display: inline-block; vertical-align: middle; }
    .search_input1 .input_span {background: url("/images/tabimg.png?v=20120918") no-repeat scroll -403px -108px transparent;display: inline-block;height: 34px;margin: 1px 10px 0 0; width: 97px;}
    .search_input1 input {background: url("/images/tabimg.png?v=20120918") no-repeat scroll -204px -108px #DDDDDD; border: 0 none; cursor: pointer; font-size: 14px; height: 32px; padding: 0; width: 95px;}
</style>

<div class="header">
    <div class='left'>
        <a href="www.qiyoungsoft.com:84" target="_blank">旧版</a>
        <a href="/blog" target="_blank">黑板报</a>
    </div>
    <div class='right'>
        <ol>
            <li>
                <span>
                    {{if global_data.user}} {{if global_data.user.UserName}} ${global_data.user.UserName} {{else}} ${global_data.user.UserNO} {{/if}}(<a href="/logout">退出</a>){{else}}(<a href="/login">登录</a>) {{/if}} 
                </span>
            </li>
            <li>
                <select id="combobox">
                    {{each global_data.projects }}
                    <option value="${name}" {{if name == global_data.project}}selected="selected"{{/if}}  >${value}</option>
                    {{/each}}
                </select>
            </li>
            <li>
                <a href="/Account/Setting" title="设置" style='display:inline-block;width:18px;height:18px; background: url("/images/h_bedf916a.png") repeat scroll 0 0 transparent;'></a>
            </li>
        </ol>
    </div>
    <div style="clear:both"></div>



</div>

<div id="top-bar">
    <a id="logo-container" href="   /">
        <h1 id="logo" style="margin:3px;">
            <img src="/images/Sparus.png" style="border:0px; display:inline-block;height:48px;vertical-align:middle" />
            <span style="display:inline-block; vertical-align:middle">Sparus</span>
        </h1>
    </a>
    <div id="search">
        <input type="text" title="搜索" class="jfk-textinput" id="search-input"/>
        <div class="search_input1">
            <span class="input_span"><input type="submit" id="btnSearch" value="搜索" ></span>
            <span id="moText" class="help_list"><a style="color:#0000CC" >高级选项</a></span></div>
    </div>
</div>

<script>
    $('#btnSearch').click(function () {
        var query = $('#search-input').val();
        if (query) {
            var ul = $("#browser>li[metaType=search]>ul").children().remove().end().indicator({});
            $.post('/search/' + query, function (d) {
                var data = treeData(d);
                var branches = $('#jt_tree_li').tmpl(data).appendTo(ul);
                $("#browser").treeviewEx({
                    add: branches
                });
                ul.indicator({ remove: true }).focus();
            });
        }
    });
    $("#combobox").change(function () {
        $.post("/updateposition/" + $(this).val(), function (data) {
            if (!data.IsValid) 
                alert(data.Errors[0].Message);
            window.location = window.location.toString();
        });
    });
</script>