<style>
    div.visual_uidesigner {
        border: 1px gray solid; height: 300px;width: auto;
    }
    
    table.tp_pickList {margin: 10px 0 0 193px;   border-collapse: collapse; width: auto; }
    table.tp_pickList td, table.tp_pickList th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    table.tp_pickList a.removeRow { display: inline-block;height: 16px; width: 16px; background: url(/images/metaObject/delRow.png);}
    table.tp_pickList tr.tmpl a.removeRow { display: none;}

    div.tp_SelQueries { width:auto;height:50px; border:1px solid #ccc; padding:4px; }
    div.tp_SelQueries div.query { display: inline-block; padding: 4px; border:1px solid #ddd; margin: 0 4px;}
    div.tp_SelQueries a.add { display: inline-block;height: 16px;width: 16px; background:  url(/images/metaObject/add.ico)}
    div.tp_SelQueries a.del { display: inline-block;height: 16px;width: 16px; background:  url(/images/metaObject/delRow.png)}

    div.tp_flowDesigner { width:auto;min-height:50px; border:1px solid #ccc; padding:4px; }
    div.tp_flowDesigner   .ui-tabs   ul  {  height: 32px;    }
</style>
