 

<script id="jt_tree_li" type="text/x-jquery-tmpl">
        <li _id="${data._id}" metaType="${type}" {{if children && children.length > 0}}{{else}}class="closed"{{/if}}>
            <span class="{{if (meta)}}${type}{{/if}}{{if folder}} folder{{else}} leaf{{/if}}" >
                <a {{if (meta || multiEdit)}} href="#/design{{if multiEdit}}s{{/if}}/${type}/{{if data._id}}?_id=${data._id}{{else}}?${link}{{/if}}" {{/if}}>${data.text}</a>
                {{if checkbox}}<input type=checkbox name="_id" value="${type}-${data._id}">{{/if}}
            </span>
            {{if folder}}
                <ul>{{if children && children.length > 0}}{{tmpl(children) "#jt_tree_li"}}
                    {{else}}<li metaType="fake"></li>{{/if}}
                    {{if newType}}<li class="newNode"><a href="#/design/${newType.type}?parent_type=${type}&parent_id=${data._id}" title="新增${data.text}"></a></li>{{/if}}
                </ul>
            {{/if}}
        </li>
</script>
<script id="metaObject" type="text/x-jquery-tmpl">
    {{if leaf}}
        <div class="zip {{if tmplRow }}tmpl{{/if}} inline" >
            <a href="#" class="delRow"></a>
            <span class="rowIndex">${index}</span>) <a href="#" class="zipRow" style="text-decoration:none">▲</a>
    {{/if}}

    {{each prop}}
        <div class="prop" {{if lineShow}}lineShow{{/if}}>
            <label >${caption}</label>{{if scriptType}}
                <select class="toggleEditor">
                    <option value="text">文本</option>
                    <option value="code">代码编辑器</option>
                    <option value="JSON">JSON数组编辑器</option>
                    <option value="visual">可视化编辑器</option>
                </select>
            {{/if}}{{tmpl($value) "#editor"}}
        </div>
        
    {{/each}}
    
    {{if array}}
        {{tmpl(array) "#metaPropArray"}}
    {{/if}}

    {{if leaf}}
        <hr />
        </div>
        
    {{/if}}
</script>

<script id="metaPropArray" type="text/x-jquery-tmpl">
    <fieldset prefix=${name} {{if reference}}ref_type=${reference.type} ref_join=${reference.join} {{/if}}>
        <legend><span >${caption}</span> <a href="#" style="text-decoration:none">▲</a> </legend>
        <span class="count" style="display:none"></span>
        {{tmpl(value) "#metaObject"}}
    </fieldset>
</script>

<script id="editor" type="text/x-jquery-tmpl">  
    {{if isInput }}
        <input type="${editor}" {{if editor == "checkbox" }}{{if value}}checked="checked" {{/if}}value="true"{{else}}value ="${value}"{{/if}} 
    {{else}}
        <${editor} 
    {{/if}}
    {{if tmplRow }}field{{/if}}name='${name}' 
     path=${path} 
    {{if scriptType }} scriptType="${scriptType}" {{/if}}
    {{if typeof selection == "string"}} selection="${selection}" {{/if}}
    {{if identity }} identity {{/if}}
    {{if (readonly||reference) }} readonly {{/if}}
    {{if maxLength}} style='{width:20px}' {{/if}}
    {{if isInput }}/>{{else}}>{{if editor == "select" }}{{tmpl({selection: selection, selValue: value}) "#select-option"}}{{/if}} ${value}</${editor}>{{/if}}


</script>

<script id="select-option" type="text/x-jquery-tmpl">  
    {{each selection}}
    <option value="${key}" {{if key == selValue}}selected="selected"{{/if}}>${value}</option>
    {{/each}}
    <option value="" {{if undefined==selValue}}selected="selected"{{/if}}></option>
</script>

