<style>
    div.visual_uidesigner {
        border: 1px gray solid; height: 300px;width: auto;
    }
    
    table.tp_pickList {margin: 10px 0 0 193px;   border-collapse: collapse; width: auto; }
    table.tp_pickList td, table.tp_pickList th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    table.tp_pickList a.removeRow { display: inline-block;height: 16px; width: 16px; background: url(/images/metaObject/delRow.png);}
    table.tp_pickList tr.tmpl a.removeRow { display: none;}

</style>
