<!DOCTYPE html>

<html>
<head>
    <title>黑板报</title>
    <script src="/javascripts/jqueryui-1.8.16/js/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="/javascripts/jqueryui-1.8.16/js/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="/javascripts/kindeditor/kindeditor-min.js")" type="text/javascript"></script>
    <link href="/javascripts/jqueryui-1.8.16/css/smoothness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />

    <style>
        a{  text-decoration: none;}
        h2 a{  color:#000}
    </style>
</head>
<body>
    <div style="width:1023px;margin:auto;">
    
        <h2><a href="/blog">黑板报</a></h2>
        <div style=" font-size:0.88em; padding:5px;">
            <span style="color:#666;font-size:0.88em;">本站动态，功能文档和技术介绍</span>
            <a style="color:#666;  float:right" href="/blog/add">发表新文章</a>
        </div>
        <div style="clear:both"></div>
        <hr style="height:5px;color:#333; background:#333"/>  
        <div style="margin-right:350px;">
	        {{html body}}
        </div>
    </div>
</body>
</html>
