 

<form method="post" class="metaObject" id="metaObject-${id}">
    <input type="submit" value="保存" action="/save/${metaType}" href="#" />
    <input type="button" value="脚本"  href="/script/${metaType}?_id=${_id}" />
    <input type="button" {{if version_info.need_update }} value="存档" needUpdate="1" {{else}} value="存档(${version_info.last_version})" {{/if}}  class="addVersion" ="${hashcode}"/>
    <input type="button" value="删除" action="/remove/${metaType}" class="delMeta" href="#" confirm="确认要删除吗?"/>
    <hr />
</form>

<script>
    var mo = $('#metaObject-${id}');
    mo.metaObject("${metaType}", {{html model}})
		.find('[type=submit]').PageButton().bind('onSucceed', function(r, returnValues){
			mo.objRefresh ( ${newMeta} ,null, "${metaType}", "${parent_type}", "${parent_id}", returnValues);
		}).bind('beforeAction', function(){  
			mo.saveCodeMirror();
        }).end().find('.delMeta').PageButton().bind('onSucceed', function(r, returnValues){
            mo.objRemove ( );
        });
    
    mo.find('input[type=button]').button().filter('[href]').click(function(){
        $.createDialog ({title:'生成脚本', url: $(this).attr('href')});
        
    });
    //存档
    mo.find('.addVersion').button().click(function () {
        var url = "/addversion/${metaType}?_id=${_id}";
        if (!$(this).attr('needUpdate')) alert("已经最新");
        else $.post(url, function (data) {
            if (data == "ok") data = "成功存档";
            mo.objRefresh (false, data, "${metaType}", "${parent_type}", "${parent_id}");
        });
        return false;
    });
</script>

