{{partial "_header"}}
<style>
    #top-bar {height: 53px; background:none repeat scroll 0 0 #fff;width:auto; display:block;}
    #leftBanner { margin: 0px;float:left;width:300px;min-height:300px;}
    #leftBanner h3 { display: block; padding: 6px; margin: 0px; height: 20px; background:  url("/images/nav_bj.png?v=20120918") no-repeat scroll right 0 transparent;    }
    #browser { padding: 10px;  border-right: 1px solid #ccc; margin: 0px; min-height: 300px; }
    #mainContent .ui-tabs{border-radius:0px; border: 0px;}
    #mainContent .ui-tabs { padding: 0px;}
    #mainContent .ui-tabs ul { border: 0px; padding: 0 0 0 6px;    }
    #mainContent .ui-tabs .ui-widget-header {background: url("/images/nav_bj.gif?v=20120918") repeat scroll 0 0 transparent;border-top-left-radius:0px;border-bottom-right-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;  }
    #mainContent .ui-tabs .ui-tabs-nav{height:auto;}

    #mainContent .ui-tabs li.ui-state-default {
        background:url("/") repeat-x scroll 50% 50%   ; border: 0px;    height: 32px;  }
        #mainContent .ui-tabs li.ui-state-active{ background: #f3f3f3; border-radius: 0px; height: 31px; border-width: 0 1px;  border-color: #DDDDDD; border-style: solid;}
    .ui-tabs .ui-tabs-nav li a { padding-right: 0px;}
    #shad_h {position: absolute; background: url("/images/shad_h.png?v=20120917") repeat-x scroll 0 0 transparent;font-size: 0; height: 6px;left: 0;top: 0;width: 100%;}
</style>
<div >
    <div id="cmd" style="height:40px;border-bottom:1px solid #ccc;padding:0px; display: none">
      
      {{partial({types: tree_config}) "_tmpl_css"}}
      {{partial "_tmpl.ejs"}}
      {{partial "_tmpl_ui_css"}}
      {{partial "_tmpl_ui.ejs"}}
    </div>
    <div id="main" style="border-bottom:1px solid #ccc;clear:both;margin:8px 0 0 0;">
        <div id="leftBanner" style="">
            <h3 style="color:#DD4B39">IDC 配置中心 - 对象树</h3>
            <ul id="browser" class="filetree" style="overflow:auto;">
                <li metatype="search">
                    <span class="search folder">
                        <a name="searchNode" onclick="javascript:$('#query').focus();">搜索</a>
                    </span> 
                    <ul></ul>
                </li>
                 <li metatype="working">
                    <span class="working folder">
                        <a name="workingNode">正在编辑</a>
                    </span> 
                    <ul></ul>
                </li>
            </ul>
        </div>
        <div id="mainContent" style="margin-left:300px;min-height:300px;padding: 0px;overflow: auto; position: relative;">
            <div id="shad_h"></div>
            <div id="tabs" style=" ">
                <ul></ul>
            </div>

        </div>
        <div style=" clear:both"></div>
    </div>
</div>
<span id="statestr" style="display:none"></span>

<script>

    var data = treeData( {{html tree_data}} , false);
    $("#jt_tree_li").tmpl(data).appendTo('#browser');
    $.autoHeight({ "#main": 96, "#leftBanner": 96, "#mainContent": 96, '#browser': 149, '#tabs': 96, "#tabs .ui-widget-content":165 }, true);
    $("#tabs").smartTabs({
        a_selector: "#browser a", 
        lastState: {{html lastState}} ,
        select : function(event, ui){
            
            var li = $("#tabs>ul>li:nth-child(" + (ui.index+1 ) + ")");
            if ( li.attr("url")){ 
                var _id = li.attr("url").split('?')[1].split('=')[1];
                if ($("#browser>li[metaType=working]>ul>li>span>a[href$='" + _id + "']").size() == 0)
                    $.post("/searchbyid/" + li.attr("metatype") +  "/" + _id , function(d){
                        var data = treeData(d);
                        var ul = $("#browser>li[metaType=working]>ul");
                        var branches = $('#jt_tree_li').tmpl(data).appendTo(ul);
                        $("#browser").treeviewEx({
                            add: branches
                        });
 
                     });
            }
        }
        }).children('ul').css('height', '');
    $("#browser").treeviewEx();//.treeviewA().parent().show();

</script>
