<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Signin</title>
    
    <link href="/style/fit.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jqueryui-1.8.16/js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="/javascripts/jqueryui-1.8.16/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <link href="/javascripts/jqueryui-1.8.16/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
      <script src="/javascripts/jquery.fit/site.js" type="text/javascript"></script>
    <link href="/javascripts/jquery.fit/site.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.fit/form.js" type="text/javascript"></script>
</head>

<body>
     
    
<style type="text/css">
    .simpleLayout{margin-left:200px;margin-right:auto;margin-top:120px; }
    .simpleLayout>h2{margin-left:-20px;}
    #accordion{width:400px; }
</style>
<div class='simpleLayout'>
    <img src="/images/login.png"/>
    <div id="accordion">
	    <h3><a href="#">登录</a></h3>
	    <div>
            <form  method="post">
                
                <table>

                    <tr>
                        <td>用户名</td>
                        <td><input id="UserNO" name="UserNO" type="text" value="" /></td>
                    </tr>
                    <tr>
                        <td>密  码</td>
                        <td><input name="Password" type="password" value=""/></td>
                    </tr>
                    <tr>
                        <td colspan=2><input type="submit" value="提交" href="${rel}" action="/login"/></td>
                    </tr>
                </table>
                <hr/>
                <p><a href="/register">注册新帐号</a></p>
            </form>
        </div>
        
    </div>

   
</div>

<script>
    $("#accordion").find('[type=submit]').PageButton().end().accordion();
    if ($("#UserNO").val()) $("[name=Password]").focus(); else $("#UserNO").focus();
</script>
 

</body>
</html>
