<style>
    #top-bar {border: 1px solid #E5E5E5;height: 55px; background:none repeat scroll 0 0 #F5F5F5;width:auto; display:block;}
    .cmd .ui-button-text-only,.cmd .ui-button-text {padding: 0.2em  0.4em;  }
</style>
{{partial "_header"}}
<div style="margin:8px;">
    <div id="header" style="height:40px;border-bottom:1px solid #ccc;padding:0px;">
        <div id="vr-nav">
        <div class="logo">
            <span onmousedown="_SR_backToCalendar();return false;" id="mainlogo" title="Sparus">账户设置</span>
        </div>
        <div class="cmd">
            <ul class="cmd">
                <li><a id="btnSave" class="cmd " href="/account/setting" action="/account/savesetting" form="setting" role="button"><span class="ui-button-text"> 保存 </span></a> </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </div>
    </div>
    <div id="main" style="border-bottom:1px solid #ccc;clear:both">
        {{partial "setting_menu"}}
        <div id="mainContent" style="margin-left:301px;min-height:600px;padding: 10px">
          <form id="setting">
            <fieldset ><legend>用户信息</legend>
                <span>用户名（昵称）</span> <input name="UserName" value="${global_data.user.UserName}" />
            </fieldset><br/>
                <div id="tabs">
	                <ul>
                        {{each projects}}
                            <li><a href="#tabs-${_id}" url="/account/setting/${_id}">${ProjectName}</a></li>
                        {{/each}}
                        <li class="new"><a href="#tabs-new">添加项目</a></li>
	                </ul>
                        {{if project}}
	                    <div id="tabs-${project._id}">
                            
                                <input type="hidden" name="_id" value="${project._id}" />
                                <h3>设置您的项目</h3>
                                <table>
                                    <tbody>
                                        <tr><td>项目名称</td><td><input value="${project.ProjectName}" name="ProjectName" /></td></tr>
                                        <tr><td>项目代码</td><td><input value="${project.ProjectCode}" name="ProjectCode" /></td></tr>
                                        <tr><td>接口密码</td><td><input value="${project.SyncPassword}" name="SyncPassword" /></td></tr>
                                    </tbody>

                                </table>
                
                                <fieldset><legend>项目成员</legend>
                                    <table border="1">
                                        <tbody>
                                            {{each users}}
                                            <tr><td>${user.UserNO}</td><td>${user.UserName}</td><td><input type="checkbox" {{if chk}}checked="checked"{{/if}} name="Users[${user._id}]" /></td></tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </fieldset>
                            
	                    </div>
                        {{/if}}
	                <div id="tabs-new">
                        <form action="/account/newproj" >
                            <table>
                                <tr><td>项目代码</td><td><input name="newProjectCode"></td></tr>
                                <tr><td>项目名称</td><td><input name="newProjectName"></td></tr>
                            </table>
                            <input type="button" value="提交" id="newProject"/>
                        </form>
	                </div>
                </div>
          </form>
        </div>
        <div style=" clear:both"></div>
    </div>
</div>
<span id="statestr" style="display:none"></span>

<script>
    $(function () {
        $("#btnSave").PageButton();
        $('#tabs').tabs({selected: ${project_idx}}).find('li.ui-state-default:not(.new) a').unbind('click').each(function () {
            $(this).attr('href', $(this).attr('url'));
        });

        $('#newProject').PageButton();
    });

</script>

