<style>
    #top-bar {border: 1px solid #E5E5E5;height: 55px; background:none repeat scroll 0 0 #F5F5F5;width:auto; display:block;}
    .cmd .ui-button-text-only,.cmd .ui-button-text {padding: 0.2em  0.4em;  }
</style>
{{partial "_header"}}
<div style="margin:8px;">
    <div id="header" style="height:40px;border-bottom:1px solid #ccc;padding:0px;">
        <div id="vr-nav">
        <div class="logo">
            <span onmousedown="_SR_backToCalendar();return false;" id="mainlogo" title="Sparus">账户设置</span>
        </div>
        <div class="cmd">
            <ul class="cmd">
                <li><a id="btnSave" class="cmd " href="/account/setting{{if project}}/${project._id}{{/if}}" action="/account/savesetting" form="setting" role="button"><span class="ui-button-text"> 保存 </span></a> </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </div>
    </div>
    <div id="main" style="border-bottom:1px solid #ccc;clear:both">
        {{partial "setting_menu"}}
        <div id="mainContent" style="margin-left:301px;min-height:600px;padding: 10px">
          <form id="setting">
            <fieldset ><legend>用户信息</legend>
                <span>用户名（昵称）</span> <input name="UserName" value="${global_data.user.UserName}" />
            </fieldset><br/>
                <div id="tabs">
	                <ul>
                        {{each projects}}
                            <li><a href="#tabs-${_id}" url="/account/setting/${_id}">{{if _id}}${ProjectName}{{else}}[添加新项目]{{/if}}</a></li>
                        {{/each}}
	                </ul>
                    {{if project}}
	                    <div id="tabs-${project._id}">
                                <input type="hidden" name="_id" value="${project._id}" />
                                <h3>设置您的项目</h3>
                                <table>
                                    <tbody>
                                        <tr><td>项目名称</td><td><input value="${project.ProjectName}" name="ProjectName" /></td></tr>
                                        <tr><td>项目代码</td><td><input value="${project.ProjectCode}" name="ProjectCode" /></td></tr>
                                        <tr><td>接口密码</td><td><input value="${project.SyncPassword}" name="SyncPassword" /></td></tr>
                                    </tbody>

                                </table>
                
                                <fieldset><legend>项目成员</legend>
                                    <table border="1" id="users">
                                        <thead><tr><td>用户名</td><td>昵称</td><td> </td></tr></thead>
                                        <tbody>
                                            {{each users}}
                                            <tr>
                                                <td><input type="hidden" name="Users[${user._id}]" />
                                                    ${user.UserNO}
                                                </td>
                                                <td>${user.UserName}</td>
                                                <td><input class="delPrjUser" type="button"  value="删除"></td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    <hr />
                                    <span>添加新成员</span> <input id="newPrjUser" /><input type="button" value="查找并添加" id="findUser" />
                                </fieldset>
                            
	                    </div>
                    {{/if}}
                </div>
          </form>
        </div>
        <div style=" clear:both"></div>
    </div>
</div>
<span id="statestr" style="display:none"></span>

<script>
    $(function () {
        $("#btnSave").PageButton();
        $('#tabs').tabs({ selected: ${project_idx } }).find('li.ui-state-default:not(.new) a').unbind('click').each(function () {
            $(this).attr('href', $(this).attr('url'));
        });

        $('#findUser').button().click(function () {
            var userNO = $(this).prev("#newPrjUser").val();
            if (userNO) $.post("/account/finduser/" + userNO, null, function (data) {
                if (data && data._id) {
                    var tr = $("<tr>").appendTo("table#users tbody");
                    $("<td><input type=hidden name='Users[" + data._id + "]' />"
                    + data.UserNO + "</td>").appendTo(tr);
                    $("<td>" + data.UserName + "</td>").appendTo(tr);
                    $('<td><input class=delPrjUser type=button  value=删除></td>').appendTo(tr).find('.delPrjUser').button();
                }
                else alert("无此用户");
            });

        });
        $(".delPrjUser").button().live("click", function () {
            if (confirm("确认从本项目中删除此用户吗?"))
                $(this).closest("tr").remove();
        });
     });

</script>

