<script src="/javascripts/helper/sqlHelper.js" type="text/javascript"></script>

<select class="table" >
    {{each tables}}
        <option>${TableName}</option>
    {{/each}}
</select>
<hr />
<div  >
    <select class="columns" multiple=multiple size=15 style="float: left; display: block;width: 200px;">
        
    </select>
    <div style=" margin-left: 204px">
        <input type="button" value="生成" class="createSQL"/>
        <select class="createSQLType">
            <option value="select">select</option>    
            <option value="insert">insert</option>    
            <option value="update">update</option>    
            <option value="delete">delete</option>    
            <option value="IUD">从表 IUD (updateFlag)</option>   
        </select>
        <span>语句</span>
        <hr>
        <textarea style="width: 100%">
        
        </textarea>
    </div>
    <div style="clear: both"></div>
</div>

<script>
    $(".ui-dialog select.columns").attr("size", Math.round(($(window).height() * 0.75 - 100) / 17));
    $(".ui-dialog textarea").attr("rows", Math.round(($(window).height() * 0.75 - 170) / 17));
    $(".ui-dialog select.table").change(function () {
        $.post("/tablefields/" + $(this).val(), null, function (data) {
            var list = $(".ui-dialog select.columns");
            list.children().remove();
            for (var i in data.Columns) {
                var o = $("<option>").val(data.Columns[i].ColumnName).text(data.Columns[i].Caption)
                    .attr('selection', data.Columns[i].Selection).appendTo(list);
                if (data.Columns[i].MetaType) o.attr('metatype', data.Columns[i].MetaType);
                if (data.Columns[i].PK) o.attr("PK", true);
            }
        });

    }).change();
    $(".ui-dialog input.createSQL").button().click(function () {
        var t = $(".ui-dialog select.createSQLType").val();
        var sqlH = new sqlHelper({
            TableName: $(".ui-dialog select.table").val(),
            Columns: $.map(
                        $(".ui-dialog select.columns option").toArray(),
                        function (value, index) {
                            return { ColumnName: $(value).val(), PK: !!$(value).attr("PK") , 
                                     "MetaType" : $(value).attr("MetaType"), "Selection" : $(value).attr("Selection")};
                        })
        });
        var selFields = $.map($(".ui-dialog select.columns option").filter(function () {
            return $(this).attr("selected");
        }).toArray(), function (value, index) {
            
            return $(value).val();
        });
        if (t == "select") $(".ui-dialog textarea").val(sqlH.select(selFields));
        else if (t == "insert") $(".ui-dialog textarea").val(sqlH.insert(selFields));
        else if (t == "update") $(".ui-dialog textarea").val(sqlH.update(selFields));
        else if (t == "delete") $(".ui-dialog textarea").val(sqlH.delete());
        else if (t == "IUD") $(".ui-dialog textarea").val(sqlH.IUD(selFields));
    });
</script>